/* background website colour */
body {
  background-color: rgb(256, 253, 248);
  font-family: 'Cormorant Garamond', serif;
}

.container {
  min-height:100%;
}

/*footer*/
footer {
  background-color: rgba(51,51,51,1);
  color: white;
  Width: 100%;
  bottom: 0;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

footer h5 {
  font-size: 16px;
  color: #ddd;
}

#logo {
  width: 30px;
  height: 30px;
}

.SecondFooter {
  background-color: rgb(237, 157, 96);
  text-align: center;
  color: white;
  font-family: 'Dancing Script', cursive;
  font-size: 20px;
}

/* header style */
h1 {
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  font-size: 56px;
  color: rgb(33, 33, 33);
}

/*Header fonts*/
.header {
  font-family: 'EB Garamond', serif;
}

/*navbar*/
.topnav {
  margin:0 auto;
  display: block;
  overflow: auto;
  background-color: rgba(51,51,51,1);
}

.topnav a {
  float: left;
  color: white;
  font-size: 17px;
  padding: 10px 10px;
  text-align: center;
  width: 25%;
  font-family: 'EB Garamond', serif;

}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgb(237, 157, 96);
  color: white;
}

/*carousel*/
/*carousel picture sizes */
.carousel-item {
  width: 100%;
}

/* carousel overlap */
.carouselbackground {
  position: relative;
}

.carouseltitle {
  color: white;
  size: 20px;
  position: absolute;
  bottom: 0;
  background-color: rgba(26,26,26,0.5);
  padding: 20px 20px 100px 20px;
  margin: 10;
  width: 100%;
  height: 200px;
  text-align: center;
}

.carouseltext {
  padding-left: 60px;
  padding-right: 60px;
}

/*Other index styling*/
.whatnextindex {
  padding-bottom: 30px;
  padding-top: 30px;
}

#signatures {
  font-family: 'Sacramento', cursive;
}

/* Other recipe pages styling */
/* drop down button appearance on europe and asia */
.btn {
  background-color: rgb(254, 221, 172);
  margin: 0 auto;
  padding: 20px 200px 20px 200px;
  width: 100%;
  max-width: 100%;
  color: rgba(51,51,51,1);
  text-align: center;
}

/* appearance of dish picture */
.RecipePicture {
  width: 100%;
}

/*small picslogos on recipe pages */
.rounded-circle {
  width:35px;
  height:30px;
}

/* form */
.form {
  text-align: center;
}

/*form submission page */
.loading {
  text-align: center;
}

.loading img {
  height: 35%;
  width: 35%;
}

.collection {
  background-color: white;
}

/* screen constraints */
@media (max-width: 500px) {
  body {
    font-size: 12px;
  }
  .carouseltitle {
    font-size: 15px;
  }
  .header {
    font-size: 18px;
  }
  .topnav a {
    font-size: 10px;
    padding-left: 0;
    padding-right: 0;
  }
  footer h5{
    font-size: 8px;
  }
  .rounded-circle {
    height: 15px;
    width: 18px;
  }
  .btn {
    width: 10px;
    padding: 10px 150px 10px 100px;
    font-size: 10px;
    align-items: center;
    margin: 0px 0px 0px 10px;
  }
  .carouseltitle {
    font-size: 10px;
    padding: 0;
    margin: 0;
    height: 120px;
  }
  .carouseltext {
    padding: 0px 2px 0px 2px;
  }
  .coordinates {
    font-size: 9px;
    padding: 0;
    margin: 0;
  }
  #logo {
    width: 10px;
    height: 10px;
    padding: 0;
    margin: 0;
  }
  #explination {
    padding: 0px 20px 0px 20px;
  }

  .collection {
    padding: 20px 50px 0px 50px;
  }
}
